/*Node Scheduler Dialog*/
#scheduleTable{
  selection-background-color:#6e6e6e;
  gridline-color: #969696;
  color: rgba(0,0,0,0);
  selection-color: rgba(0,0,0,0);
}
#scheduleTable QHeaderView::section::horizontal{
  border-style: solid;
  border-right-color: #969696;
  border-right-width: 1px;
  border-bottom-color: #969696;
  border-bottom-width: 1px;
}
#scheduleTable QHeaderView::section::vertical{
  border-style: solid;
  border-bottom-color: #969696;
  border-bottom-width: 1px;
  border-right-color: #969696;
  border-right-width: 1px;
  padding-left: 5px;
}
#scheduleTable QTableCornerButton::section{
  background-color: #f0f0f0;
  border-style: solid;
  border-right-color: #969696;
  border-right-width: 1px;
  border-bottom-color: #969696;
  border-bottom-width: 1px;
}

/*FarmView*/
QSplitter::handle{
  background-color: white;
}
